<header class="header header_library">
  <div class="container">
    <nav class="nav">
      <a href="/src/index.html" class="logo_link">
        <svg class="logo_svg" width="24" height="24">
          <use href="/src/images/icons.svg#film"></use>
        </svg>
        <span class="logo_text">Filmoteka </span>
      </a>
      <ul class="menu">
        <li class="menu_item">
          <a href="/src/index.html" class="link menu_link" data-key="home"
            >HOME</a
          >
        </li>
        <li class="menu_item">
          <a href="/src/library.html" class="current link menu_link"
            >My LIBRARY</a
          >
        </li>
      </ul>
    </nav>
    <ul class="filter-list">
      <li class="filter-list__item">
        <button type="button" class="filter-list__btn watched">Watched</button>
      </li>
      <li class="filter-list__item">
        <button type="button" class="filter-list__btn queue">Queue</button>
      </li>
    </ul>
  </div>
</header>
