<div class="pagination-holder">
  <button type="button" class="page-button left-page-button" data-action-previous>
    <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.667 8H3.333M8 12.667 3.333 8 8 3.333" stroke="#000" stroke-width="1.333" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </button>
  <div class="wing-controls">
    <button type="button" class="inline-button" data-action-first><span>1</span></button>
    <button type="button" class="inline-button" data-action-left-dots><span>2</span></button>
    <span class="left-wing-dots">&#67871&#67871&#67871</span>
  </div>
  <div class="no-wing-controls">
    <button type="button" class="inline-button" data-action-second><span>2</span></button>
    <button type="button" class="inline-button" data-action-third><span>3</span></button>
    <div class="pages-container"></div>
    <button type="button" class="inline-button" data-action-last-third><span>-3</span></button>
    <button type="button" class="inline-button" data-action-last-second><span>-2</span></button>
  </div>
  <div class="wing-controls">
    <span class="right-wing-dots">&#67871&#67871&#67871</span>
    <button type="button" class="inline-button" data-action-right-dots><span>2</span></button>
    <button type="button" class="inline-button" data-action-last><span></span></button>
  </div>
  <button type="button" class="page-button left-page-button" data-action-next>
    <svg class="right-arrow" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.667 8H3.333M8 12.667 3.333 8 8 3.333" stroke="#000" stroke-width="1.333" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </button>
</div>