.footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding: 30px 0;
  color: $second-color;
  background-color: $footer-background-color;
  // min-height: 80px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: inherit;
  }
}

.heart {
  fill: $accent-color;
  margin: 0 10px;
}

.footer-btn {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  border: transparent;
  background-color: transparent;
  position: relative;
  color: $second-color;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.19;
    position: relative;
  }

  transition: color 500ms $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover::after,
  &:focus::after {
    background-color: $accent-color;
  }
}

.footer-btn::after {
  background-color: $second-color;
  display: inline-block;
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;

  transition: background-color 500ms $transition-timing-function;

  @media screen and (min-width: $tablet) {
    background-color: $second-color;
    display: inline-block;
    position: absolute;
    content: '';
    right: 0;
    bottom: 2px;
    height: 1px;
  }
}

.text-page-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.text-page-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery_section {
  flex: 1;
}


