.pagination-holder {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  & span {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}

.page-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.left-page-button {
  margin-right: 2px;
}

.right-page-button {
  margin-left: 2px;
}

.right-arrow {
  transform: rotate(180deg);
}

.pages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  & > span {
    color: #000000;
  }
}

.current-page {
  display: inline-block;
  border-radius: 5px;
  background-color: #ff6b08;
  width: 40px;
  height: 40px;
  margin-left: 8px;
  margin-right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  & span {
    color: #ffffff;
  }
}

.inline-button {
  border: none;
  padding: 8px;
  margin: 0;
  background: none;
}

.left-wing-dots,
.right-wing-dots {
  margin-left: 8px;
  margin-right: 8px;

  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.wing-controls {
  display: inline-flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.no-wing-controls {
  display: inline-flex;
  align-items: center;
}
